{% extends 'web/base.html' %}
{% load staticfiles %}
{% block title %}Compare Performance{% endblock %}
{% block compare_active %}active{% endblock %}

{% block js_scripts %}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>#}
    <script src="{% static 'js/Chart.min.js' %}"></script>
    <script src="{% static 'js/compareChart.js' %}"></script>
{% endblock %}

{% block body %}

    <br>

    <div class="container-fluid">
        <div class="row justify-content-between">
            <div class="col-sm-4">
                <div class="card">
                    <canvas id="serverspeed" width="100%"></canvas>
                    <div class="card-body">
                        <p class="card-text">The comparison of transfer speed between JSON and XML</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-top" src="{% static 'img/2.jpg' %}" alt="Taxi!">
                    <div class="card-body">
                        <p class="card-text">Taxi in LA</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-top" src="{% static 'img/3.jpg' %}" alt="Buildings!">
                    <div class="card-body">
                        <p class="card-text">Streets in USA</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        window.onload = function () {
            updateChart(chart1);
            updateChart(chart2);
        }
    </script>

{% endblock %}