{% extends 'web/base.html' %}
{% block title %}Contact Details{% endblock %}
{% block contact_active %}active{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="card container-fluid" style="margin-top: 1em">
                    {% if error_message %}
                        <h5>Error!</h5>
                        <p>{{ error_message }}</p>
                    {% endif %}
                    <h3>{{ name }}</h3>
                    <div class="card-body">
                        <strong>Address:</strong> {{ address }}<br>
                        <strong>Email:</strong> <a href="mailto:{{ email }}">{{ email }}</a><br>
                        <strong>Phone:</strong> {{ phone }}<br>
                        <strong>Birth Date:</strong> {{ bdate }}<br>
                        <strong>Works for:</strong> <a href="{% url 'web:account' works_for.id %}">{{ works_for.name }}</a><br>
                        <strong>Added On:</strong> {{ added_on }}<br>
                        <strong>Added By:</strong> {{ owner.user.last_name }}<br>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}