{% extends 'web/base.html' %}
{% load staticfiles %}
{% block title %}Home{% endblock %}
{% block body %}

<div class="container-fluid">
    <h3>Dashboard</h3>
    <div class="row">
        <div class="col-sm-4">
            <div class="card container-fluid" style="margin-top: 1em">
                <canvas id="leadstatus" width="50em" height="50em"></canvas>
                <div class="card-body">
                    Amount of money involved in Leads.
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card container-fluid" style="margin-top: 1em">
                <canvas id="oppostatus" width="50em" height="50em"></canvas>
                <div class="card-body">
                    Amount of money involved in Opportunities.
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card container-fluid" style="margin-top: 1em">
                <h4>Recent leads</h4>
                <div class="card-body">
                    <ul id="leadlist">

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block js_scripts %}
    <script src="{% static 'js/Chart.min.js' %}"></script>
    <script src="{% static 'js/dashboard.js' %}"></script>
    <script>
        chart_update(lead_db);
        chart_update(oppo_db);
        fill(fill_leads);
    </script>
{% endblock %}