{% extends 'web/base.html' %}
{% load staticfiles %}
{% block title %}Leads{% endblock %}
{% block lead_active %}active{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="card" style="margin-top: 1em">
                    <div class="card-body">
                            <i class="fa fa-tasks" style="font-size:48px;"></i>
                        <div style="display: inline-block">
                            <h4 class="page-titles">Leads</h4>
                        </div>
                        <br>
                        <br>
                        <div class="input-group">
                            Search
                            <div class="input-group col-sm-3">
                                <input type="search" class="form-control" id="searchip">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button" id="searchbtn"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </span>
                            </div>
                            <a href="{% url 'web:lead_create' %}" class="btn btn-success" title="Add a new lead" id="addbtn" style="position: absolute;right: 2%"><i class="fa fa-plus"></i></a>
                        </div>
                        <br>
                        {# The table comes here #}
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <div style="position: absolute; right: 2%;">
                            <button type="button" class="btn btn-primary" id="prev"><i class="fa fa-arrow-left"></i>&nbsp;Previous</button>
                            &nbsp;
                            <input type="text" placeholder="Index..." size="10%" id="pgidx">
                            &nbsp;
                            <button type="button" class="btn btn-primary" id="next">Next&nbsp;<i class="fa fa-arrow-right"></i></button>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js_scripts %}
    <script src="{% static 'js/compareChart.js' %}"></script>
    <script>

        var start = 0;
        var end = start + 10;


        function tryParseJSON (jsonString){
            try {
                var o = JSON.parse(jsonString);
                if (o && typeof o === "object") {
                    return o;
                }
            }
            catch (e) { }
            return false;
        }


        function getTable(start, end) {
            // Get checkbox value here.
            // And also the my accounts only checkbox
            var dtype = 'json';
            var xhttp = XMLReq(fillTable);
            var local = window.location.origin;
            xhttp.open("GET", local + '/api/leads/' + dtype + '/' + start + '/' + end, true);
            xhttp.send();
        }


        function fillTable(data) {
            var parsed = tryParseJSON(data);
            if (parsed === false) {
                //It's not JSON. It's something.
            }

            else {
                for (var obj in parsed) {
                    var ob = parsed[obj];
                    var pk = ob['pk'];
                    var fields = ob['fields'];
                    var name = fields['name'];
                    var email = fields['email'];
                    var status = fields['status'];

                    if (status === 1) {
                        status = 'Open - Not Contacted';
                    }
                    else if (status === 2) {
                        status = 'Working - Contacted';
                    }
                    else if (status === 3) {
                        status = 'Closed - Not Contacted';
                    }
                    else {
                        status = 'Converted';
                    }


                    // Now add the table. :)
                    var markup = "<tr><td>" + (start + parseInt(obj) + 1) + "</td><td>" +'<a href="/leads/' + pk + '">' +
                        name + '</a>' + "</td><td>" + email +"</td><td>"+ status + "</td></tr>";
                    $('table tbody').append(markup);
                }
            }
        }
        getTable(0,10);

        $('#prev').click(function () {
            start = start - 10;
            if (start < 0) {
                start = 0;
            }
            end = start + 10;
            $('table tbody tr').remove();
            getTable(start,end);
        });

        $('#next').click(function () {
            start = start + 10;
            end = start + 10;
            $('table tbody tr').remove();
            getTable(start,end);
        });

        $("#pgidx").keypress(function(event) {
            if (event.which === 13) {
                event.preventDefault();
                start = parseInt($('#pgidx').val()) - 1;
                if (start < 0) {
                    start = 0;
                }
                end = start + 10;
                $('table tbody tr').remove();
                getTable(start,end);
            }
        });

        $("#searchbtn").click(function () {
            var term = $("#searchip").val();
            search(term);
        });


        $("#searchip").keypress(function (event) {
            if (event.which === 13) {
                event.preventDefault();
                var term = $("#searchip").val();
                search(term);
            }
        });

        function search(term) {
            var xhttp = XMLReq(fillTable);
            var local = window.location.origin;
            xhttp.open("GET", local + '/api/sch_lead/?q=' + term, true);
            $('table tbody tr').remove();
            xhttp.send();
        }
    </script>
{% endblock %}