{% extends 'web/base.html' %}
{% load staticfiles %}
{% block title %}Opportunity{% endblock %}
{% block opportunity_active %}active{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="card container-fluid" style="margin-top: 1em">
                    <h3>{{ name }}</h3>
                    <div class="card-body">
                        <strong> Close Date </strong> {{ close_date }} <br>
                        <strong> Amount </strong> $ {{ amount }} <br>
                        <strong> Probability </strong> {{ probability }} <br>
                        <strong> Description </strong> {{ description }} <br>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="card container-fluid" style="margin-top: 1em; padding: 10px">
                    <h3>Status</h3>
                    <div class="container-fluid">
                        <button type="button" class="btn btn-default btn-arrow-right {% if stage > 0 %}btn-success{% endif %}" id="1">Prospecting</button>
                        <button type="button" class="btn btn-default btn-arrow-right {% if stage > 1 %}btn-success{% endif %}" id="2">Analysis</button>
                        <button type="button" class="btn btn-default btn-arrow-right {% if stage > 2 %}btn-success{% endif %}" id="3">Price Quote</button>
                        <button type="button" class="btn btn-default btn-arrow-right {% if stage > 4 %}btn-danger{% endif %}" id="5">Closed Lost</button>
                        <button type="button" class="btn btn-default btn-arrow-right {% if stage > 3 and stage != 5 %}btn-success{% endif %}" id="4">Closed Won</button>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js_scripts %}
    <script src="{% static 'js/compareChart.js' %}"></script>
    <script>
        $('#1').click(function () {
            var xhttp = XMLReq(rel);
            var local = window.location.origin;
            xhttp.open("GET", local + '/api/update_oppo/' + {{ id }} + '/1', true);
            xhttp.send();
        });

        $('#2').click(function () {
            var xhttp = XMLReq(rel);
            var local = window.location.origin;
            xhttp.open("GET", local + '/api/update_oppo/' + {{ id }} + '/2', true);
            xhttp.send();
        });

        $('#3').click(function () {
            var xhttp = XMLReq(rel);
            var local = window.location.origin;
            xhttp.open("GET", local + '/api/update_oppo/' + {{ id }} + '/3', true);
            xhttp.send();
        });

        $('#4').click(function () {
            var xhttp = XMLReq(rel);
            var local = window.location.origin;
            xhttp.open("GET", local + '/api/update_oppo/' + {{ id }} + '/4', true);
            xhttp.send();
        });

        $('#5').click(function () {
            var xhttp = XMLReq(rel);
            var local = window.location.origin;
            xhttp.open("GET", local + '/api/update_oppo/' + {{ id }} + '/5', true);
            xhttp.send();
        });

        function rel(data){
            location.reload();
        }

    </script>
{% endblock %}